@font-face {
    font-family: Cookie;
    src: url(Cookie-Regular.ttf);
}
*{
    margin: 0;
    padding: 0%;
    border: 0cap;
}
body{
    background-color: lightblue;
    font-size: large;
    line-height: 1.2;
    padding: auto;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3.5rem;/*taille du texte (pas en px)*/
    background: url(bg.jpg) center/cover;
    color: azure;
    border-radius: 5px;
    padding: 1em;
    min-height: 100vh;
}
h1{
    text-transform: uppercase;/*majuscule, minuscule ou 1ere lettre majuscule*/
    letter-spacing: 3px;/*espacement entre les lettres (et non les mots )*/
    
    text-shadow: -3px 4px 3px black;
    font-family: Cookie;
}
#NAVIGO{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    background: orange;
}
#NAVIGO nav ul{
    display: flex;
    justify-content: center;
}
#NAVIGO nav ul li{
    text-decoration: underline;
    padding: 10px;
    list-style: none;
}
#NAVIGO nav ul li:hover{
    color: rgba(17, 20, 200, 0.292);
    transform: scale(1.1);
}
h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-decoration: underline;
}
#me{
    display: flex;
    justify-content: center;
}
#app div p{margin: 18px;}
#form{
    display: flex;
    justify-content: center;
    margin: 5px;
}
#form div{
    margin: 30px;
    padding: 30px;
}
#prof div{
    margin-left: 20%;
    margin-right: 20%
}
#prof div img{
    margin-left: 35%;
}
#prof div h3{
    display: flex;
    justify-content: center;
}
#prof div h4{
    display: flex;
    justify-content: center;
}
#proj {
    margin: 14px;
}
table{
    margin-left: 20%;
}
#cont{
    display: flex;
    justify-content: center;
}