body{
    background-color: lightblue;
    margin: auto;
    font-size: large;
    line-height: 1.2;
    padding: auto;
}
header{
background-color: orange;
color: azure;
text-align: center;
border-radius: 5px;
padding: 1em;
}
h1{
    margin: auto;
}
#NAVIGO nav ul{
list-style: none;
display: flex;
justify-content: center;
}
#NAVIGO nav ul li{
    text-decoration: underline;
    padding: 10px;
}
#NAVIGO nav ul li:hover{
    color: brown;
    transform: scale(1.1);
}
h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
}
#me{
    display: flex;
    justify-content: center;
}
.FORMATION{
    display: flex;
    justify-content: center;
    display: grid;

}
